/* body {
    background-image: url("/export files/wallpaper/wallpaper.png");
    background-size:cover;
}
    
.a {
    fill: #ffce00;
  }

  .yellow_oval {
      position: absolute;
    
      left:50%;
      width: 100px;
      height: 100px;

  } */

  section {
      border: 5px solid pink;
      }

  .menu {
    border-right: 2px solid yellow;
    width: 10%;
    color: yellow;
    text-align: center;
}

body {
background-color: #00263D;
}

.trips {
    position: relative;
    color: yellow;
}

.head {
background-image: url("1x/wallpaper.png");
background-size:cover;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   /*  border: 2px solid yellow; */
}

.yellow_oval: :before {
    content: "Valami";
  }

#oval {
    position: absolute;
    margin: auto;
    transform: origin;
    top: 20px;
}

/* #myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
} */


